:root {
    --primary-color: #10375C;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
    font-size: 1.6rem;
    font-family: "Sora", serif;
}

/* ===============common=============== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 104px;
    height: 44px;
    border-radius: 22px;
    background: #2E80CE;
}

.btn:hover {
    opacity: 0.9;
}

/* ===============header=============== */
.header {
    background-color: var(--primary-color);
}

.header .body {
    display: flex;
    align-items: center;
    padding: 30px 0 8px;
}

.header.fixed {
    position: sticky;
    width: 100%;
    top: -22px;
    z-index: 1;
}

.header .logo {
    width: 30px;
    height: 30px;
}

.header .logo-container {
    display: flex;
    align-items: center;
}

.header .logo-container .text {
    margin-left: 6px;
}

.header .logo-container .shine-text {
    color: #FFF;
    text-align: right;
    font-size: 1.8rem;
    line-height: 0.78;
}

.header .logo-container .smile-text {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 14px;
    text-align: right;
}

.header .nav {
    margin-left: auto;
    margin-right: 222px;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    position: relative;
    color: #C9D2DA;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    padding: 8px 21px;
}

.header .nav a:hover {
    color: #FFF;
    text-shadow: 0.5px 0px 0px #FFF;
}

.header .nav a:hover::after {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-color: #FFF;
    left: 10px;
    top: 15px;
    border-radius: 50%;
}

.header .action {
    display: flex;
    align-items: center;
}

.header .action .log-in {
    color: #C9D2DA;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header .action .btn-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-left: 28px;
}

/* ===============hero=============== */
.hero {
    padding: 68px 0 110px;
    background-color: var(--primary-color);
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .left {
    width: 44.2%;
}

.hero .left .title {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero .left .desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero .contact {
    display: flex;
    margin-top: 38px;
    align-items: center;
}

.hero .contact .btn-book-online {
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
    width: 205px;
    height: 60px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.hero .contact .call {
    margin-left: 38px;
}

.hero .contact .call,
.hero .contact .call a {
    color: #FFF;
    text-align: center;
    font-size: 1.78rem;
    line-height: 1.67;
}

.hero .right {
    margin-left: auto;
    position: relative;
    width: 45.6%;
    height: 540px;
}

.hero .right .main-img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero .right .sub-img {
    position: absolute;
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
    top: 65px;
}

/* ===============services=============== */
.services {
    padding: 170px 0;
}

.services .header-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .header-title .title {
    color: var(--primary-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.services .header-title .desc {
    width: 468px;
    color: #575F66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    margin-top: 18px;
}

.services .content {
    display: flex;
    margin-top: 70px;
    align-items: center;
}

.services .content .thumb {
    max-width: 48.7%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.services .content .items {
    margin-left: auto;
    width: 40.2%;
}

.services .content .item {
    display: flex;
    padding: 21px 61px 20px 22px;
}

.services .content .item:hover {
    border-radius: 10px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services .content .item .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #EFF6FD;
}

.services .content .item .inf {
    margin-left: 19px;
}

.services .item .inf .title {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.services .item .inf .desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.services .btn-all-services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 60px;
    border-radius: 30px;
    color: #FFF;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 55px;
}